---
// import { getLanguageFromURL, KNOWN_LANGUAGE_CODES } from '../../languages';
import * as CONFIG from '../../config';
// import AstroLogo from './AstroLogo.astro';
// import LanguageSelect from './LanguageSelect';
import Search from './Search';
import CommandLineIcon from '@heroicons/react/20/solid/CommandLineIcon';
import MobileNav from '../../docs/MobileNav';
import { SIDEBAR } from '../../config';

type Props = {
  currentPage?: string;
};

const { currentPage } = Astro.props as Props;
// const lang = getLanguageFromURL(currentPage);
const langCode = 'en'; // getLanguageFromURL(currentPage);
const sidebar = SIDEBAR[langCode];

const { BASE_URL } = import.meta.env;
const baseNoTrailing = BASE_URL.endsWith('/') ? BASE_URL.slice(0, -1) : BASE_URL;
---

<nav
  class="flex justify-between py-2 px-4 items-center h-14 max-h-14 bg-lineHighlight text-foreground"
  title="Top Navigation"
>
  <div class="flex overflow-visible items-center grow" style="overflow:visible">
    <a href={`${baseNoTrailing}/`} class="flex items-center space-x-2 cursor-pointer">
      <img src="/logo.svg" alt="Bassline Logo" class="w-6 h-6 flex-shrink-0" />
      <span class="text-xl font-extrabold tracking-tight flex items-center" style="font-family: 'Quando', serif; color: #F5F5F5;">bassline</span>
      <span class="inline-flex items-center px-2 py-px text-[10px] font-bold uppercase tracking-wide rounded-full border border-white/20 text-gray-200/80 bg-white/5">Beta</span>
    </a>
  </div>
  {/* KNOWN_LANGUAGE_CODES.length > 1 && <LanguageSelect lang={lang} client:idle /> */}
  <div class="search-item h-10">
    <Search client:idle />
  </div>
  <a href={`${baseNoTrailing}/`} class="hidden md:flex cursor-pointer items-center space-x-1"
    ><CommandLineIcon className="w-5 h-5" /><span>go to REPL</span>
  </a>
  <div class="md:hidden">
    <MobileNav sidebar={sidebar} client:idle />
  </div>
</nav>

<style>
  /** Style Algolia */
  :root {
    --docsearch-primary-color: var(--lineHighlight);
    --docsearch-logo-color: var(--foreground);
  }

  .search-item {
    display: none;
    position: relative;
    z-index: 10;
    flex-grow: 1;
    padding-right: 0.7rem;
    display: flex;
    max-width: 200px;
  }

  @media (min-width: 50em) {
    .search-item {
      max-width: 400px;
    }
  }
</style>

<style is:global>
  .search-item > * {
    flex-grow: 1;
  }
</style>
